
html{
  background-color: lavender;
}


.head{
  border: 1px solid darkslateblue;
  background-color:darkslateblue;
  width: auto;
  height:30px;
  clear: both;
  display:block;
}
.formbutton{
  float:right;
  width: 15%
}

.button{

  background-color: white;
  border-radius: 5px;
  width: 120px;
  height: 30px;
  position: right;
}
table{
  border-collapse: collapse;
}
td{
  border: 1px solid black;
  text-align:center;
}
h1{
  text-align: left;
  color: black;
  font-size:18px;
}
h5{
  text-align:left;
  color: gray;
  font-size: 12px;
}
.table{
  position: bottom;
  position: right;
}

p{
  border-left: 1px dotted red;
  padding: 10px;
}
.blank{
    display: none;
}
.checkbox{
  color: white;
}
/*.column-1{
  display: none;
}*/
